<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Proyecto{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <!-- Cabecera -->
    <header>
        <nav>
            <ul>
                <!-- Navegación principal -->
                <li><a href="/">Películas</a></li>
                <li><a href="#">Series</a></li>

                <!-- Opciones de usuario -->
                {% if user.is_authenticated %}
                    <li>Bienvenido, {{ user.username }}</li>
                    <li>
                        <form action="{% url 'logout' %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit">Cerrar sesión</button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>


    <!-- Contenido principal -->
    <main style="padding: 20px;">
        {% block content %}{% endblock %}
    </main>
</body>
</html>



