{% extends 'movies/base.html' %}

{% block title %}Películas Populares{% endblock %}

{% block content %}
    <h1>Películas Populares</h1>
    <div class="movie-grid">
        {% for movie in movies %}
            <div class="movie-item">
                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
                {% if user.is_authenticated %}
                    <a href="{% url 'add_movie' movie.id %}" class="add-btn">Añadir a Mi Lista</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
