{% extends 'movies/base.html' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
<div class="movie-detail">
    <h1>{{ movie.title }}</h1>
    <div class="movie-detail-content">
        <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
        <div class="movie-detail-info">
            <p><strong>Resumen:</strong> {{ movie.overview }}</p>
            <p><strong>Fecha de estreno:</strong> {{ movie.release_date }}</p>
        </div>
        {% if user.is_authenticated %}
        <a href="{% url 'add_movie' movie.id %}" class="add-btn">Añadir a Mi Lista</a>
        <a href="{% url 'mark_as_viewed_movie' movie.id %}" class="view-btn">Vista</a>


        {% endif %}
    </div>
</div>
{% endblock %}
