{% extends 'movies/base.html' %}

{% block title %}Películas{% endblock %}

{% block content %}
<div class="search-container">
    <form method="get" action="{% url 'movies' %}">
        <input type="text" name="search" placeholder="Buscar películas..." value="{{ request.GET.search }}" class="search-input">
        <button type="submit" class="search-btn">Buscar</button>
    </form>
</div>

<div class="genre-buttons-container">
    {% for genre in genres %}
    <a href="?genre={{ genre.id }}" class="{% if genre_selected and genre.id == genre_selected.id %}active{% endif %}">{{ genre.name }}</a>
    {% endfor %}
</div>

{% if search_query %}
<h2 class="category-title">Resultados para "{{ search_query }}"</h2>
{% endif %}

<div class="movie-grid">
    {% for movie in movies %}
    <div class="movie-item">
        <a href="{% url 'movie_detail' movie.id %}">
            <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
            <h3>{{ movie.title }}</h3>
        </a>
    </div>
    {% empty %}
    <p>No se encontraron películas para esta búsqueda.</p>
    {% endfor %}
</div>
{% endblock %}



