{% extends 'movies/base.html' %}

{% block title %}Películas{% endblock %}

{% block content %}
<div class="genre-buttons-container">
    {% for genre in genres %}
    <a href="?genre={{ genre.id }}" class="{% if genre.id == genre_selected.id %}active{% endif %}">
        {{ genre.name }}
    </a>
    {% endfor %}
</div>

<form method="get" class="search-form">
    <input type="text" name="search" placeholder="Buscar películas..." value="{{ search_query }}">
    <button type="submit">Buscar</button>
</form>


{% if categorized_movies %}
    {% for category, movies in categorized_movies.items %}
    <div class="category-section">
        <h2 class="category-title">{{ category }}</h2>
        <div class="movie-grid">
            {% for movie in movies %}
            <div class="movie-item">
                <a href="{% url 'movie_detail' movie.id %}">
                    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
                    <h3>{{ movie.title }}</h3>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
{% elif movies %}
    <div class="movie-grid">
        {% for movie in movies %}
        <div class="movie-item">
            <a href="{% url 'movie_detail' movie.id %}">
                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
                <h3>{{ movie.title }}</h3>
            </a>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p>No se encontraron películas.</p>
{% endif %}
{% endblock %}




