{% extends 'movies/base.html' %}

{% block title %}Mi Lista{% endblock %}

{% block content %}
<h1>Mi Lista</h1>
{% if favourites %}
    <div class="movie-grid">
        {% for fav in favourites %}
            <div class="movie-item">
                <img src="https://image.tmdb.org/t/p/w500{{ fav.movie.poster_path }}" alt="{{ fav.movie.title }}">
                <h3>{{ fav.movie.title }}</h3>
                <a href="{% url 'remove_favorite' fav.movie.id %}" class="remove-btn">Eliminar</a>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No tienes películas en tu lista.</p>
{% endif %}
{% endblock %}
