{% extends 'movies/base.html' %}

{% block title %}Regístrate{% endblock %}

{% block content %}
<h1 class="settings-title">Regístrate</h1>

<div class="settings-container">
    <form method="post" class="settings-form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="form-group">
            {{ form.password1.label_tag }}
            {{ form.password1 }}
        </div>
        <div class="form-group">
            {{ form.password2.label_tag }}
            {{ form.password2 }}
        </div>
        <button type="submit" class="btn-settings">Crear Cuenta</button>
    </form>

    <hr class="divider">

    <!-- Pregunta y botón de inicio de sesión -->
    <p style="text-align: center; color: white; margin-top: 15px;">¿Ya tienes una cuenta?</p>
    <div style="text-align: center; margin-top: 10px;">
        <a href="{% url 'login' %}" class="btn-settings" style="display: inline-block; width: auto; padding: 10px 20px; text-transform: uppercase;">Iniciar Sesión</a>
    </div>
</div>
{% endblock %}
