{% extends 'movies/base.html' %}

{% block title %}Series{% endblock %}

{% block content %}
<div class="genre-buttons-container">
    {% for genre in genres %}
    <a href="?genre={{ genre.id }}" class="{% if genre.id == genre_selected.id %}active{% endif %}">
        {{ genre.name }}
    </a>
    {% endfor %}
</div>

<form method="get" class="search-form">
    <input type="text" name="search" placeholder="Buscar series..." value="{{ search_query }}">
    <button type="submit">Buscar</button>
</form>


{% if categorized_series %}
    {% for category, series in categorized_series.items %}
    <div class="category-section">
        <h2 class="category-title">{{ category }}</h2>
        <div class="movie-grid">
            {% for serie in series %}
            <div class="movie-item">
                <a href="{% url 'series_detail' serie.id %}">
                    <img src="https://image.tmdb.org/t/p/w500{{ serie.poster_path }}" alt="{{ serie.title }}">
                    <h3>{{ serie.title }}</h3>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
{% elif series %}
    <div class="movie-grid">
        {% for serie in series %}
        <div class="movie-item">
            <a href="{% url 'series_detail' serie.id %}">
                <img src="https://image.tmdb.org/t/p/w500{{ serie.poster_path }}" alt="{{ serie.title }}">
                <h3>{{ serie.title }}</h3>
            </a>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p>No se encontraron series.</p>
{% endif %}
{% endblock %}

