{% extends 'movies/base.html' %}

{% block title %}Películas vistas{% endblock %}

{% block content %}
<h1 style="text-align: center; color: pink;">Películas Vistas</h1>
<div style="max-width: 800px; margin: 0 auto; color: white;">
    <ul>
        {% for movie in viewed_movies %}
        <li style="margin-bottom: 20px; list-style: none;">
            <h3>{{ movie.movie.title }}</h3>
            <img src="https://image.tmdb.org/t/p/w500{{ movie.movie.poster_path }}" alt="{{ movie.movie.title }}" style="width: 150px; border-radius: 8px;">
            <p>{{ movie.movie.overview }}</p>
            {% if movie.liked == True %}
                <p style="color: green;">Está guapa!.</p>
            {% elif movie.liked == False %}
                <p style="color: red;">Vaya puta mierda</p>
            {% else %}
                <a href="{% url 'like_movie' movie.movie.id %}" style="color: green; text-decoration: none;">👍</a>
                |
                <a href="{% url 'dislike_movie' movie.movie.id %}" style="color: red; text-decoration: none;">👎</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
