{% extends 'movies/base.html' %}

{% block title %}Vistas{% endblock %}

{% block content %}
    <h1>Vistas</h1>

    <h2>Películas</h2>
    {% if viewed_movies %}
    <div class="movie-grid">
        {% for viewed in viewed_movies %}
            <div class="movie-item">
                <img src="https://image.tmdb.org/t/p/w500{{ viewed.movie.poster_path }}" alt="{{ viewed.movie.title }}">
                <h3>{{ viewed.movie.title }}</h3>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No tienes ninguna película marcada como vista.</p>
    {% endif %}

    <h2>Series</h2>
    {% if viewed_series %}
    <div class="movie-grid">
        {% for viewed in viewed_series %}
            <div class="movie-item">
                <img src="https://image.tmdb.org/t/p/w500{{ viewed.series.poster_path }}" alt="{{ viewed.series.title }}">
                <h3>{{ viewed.series.title }}</h3>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No tienes ninguna serie marcada como vista.</p>
    {% endif %}

{% endblock %}
